# {{ ansible_managed }}
# zsh version: {{ zsh_version }}

# ########################################################### #
# this file is maintained by ansible-zsh                      #
# see: https://github.com/pridkett/ansible-zsh                #
# changes may be overwritten by future invocations of ansible #
# ########################################################### #

# The following lines were added by compinstall
zstyle :compinstall filename '/home/pwagstro/.zshrc'

autoload -Uz compinit
compinit
# End of lines added by compinstall
# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
bindkey -e
# End of lines configured by zsh-newuser-install

# Shell Commands
{% if ansible_os_family == 'Darwin' %}alias ls="gls --color=auto"{% else %}alias ls="ls --color=auto"{% endif %}

# Other Shell Defaults
export EDITOR="vim"
export GPG_TTY=$(tty)

# load additional configuration files
for file in $(find "${HOME}/.zshrc.d" -type f); do
  source $file;
done

